body {
    background-color: #ECF1F5;
    font-family: 'Poppins', sans-serif;
}
#main-dashboard {
    height: 90vh;
    width: 90%;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 2.5%;
    margin-left: 2.5%;
}
#header {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 98px;
    width: 100%;
}
#logo img {
    width: 200px;
}
#logo {
    
}
#sign-in-btn button {
    color: #fff;
    background-color: #000000;
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
}
#active-menu {
    color: black;
    text-decoration: none;
    margin-right: 50px;
}
#menu .other-menu {
    text-decoration: none;
    margin-right: 50px;
    color: #c2c2c2;
}
#menu {
    position: absolute;
    right: 35%;
    bottom: 8px;
}
#sign-in-btn {
    position: absolute;
    right: 4%;
    bottom: 8px;
}
#bars {
    position: absolute;
    right: 4%;
    bottom: 8px;
    font-size: 20px;
    display: none;
}

#feature-btn {
    color: #6A7BFF;
    background-color: #FFE0F9;
    padding: 10px 25px;
    border: 0;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
}
#started-btn {
    color: #fff;
    background-color: #6A7BFF;
    padding: 15px 30px;
    border: 0;
    border-radius: 15px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 100px;
}
#left-section h1 {
    font-size: 50px;
    flex-wrap: wrap;
    max-width: 300px;
    line-height: 50px;
    text-transform: capitalize;
    margin-top: 20px;
}
#left-section > p {
    color: #c2c2c2;
}
#landing-section {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 100px;
    top: 50px;
}
#left-section {
    width: 40%;
    left: 100px;
    top: 70px;
}
#right-section {
    width: 50%;
    right: 0px;
    top: 0;
}
#right-section img {
    width: 600px;
}
.round-btn {
    color: #000;
    background-color: #fff;
    font-size: 12px;
    padding: 2px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px #000000;
    position: absolute;
    top: 0;
    left: 50px;
}
#back-btn {
    color: #fff;
    background-color: #6A7BFF;
    left: 0px;
}
#bottom-left {
    position: relative;
    padding: 100px 0;
    left: 100px;
}
#num {
    color: #6A7BFF;
    font-size: 12px;
    display: inline-block;
    margin-left: 100px;
    position: absolute;
    top: 0;
}
#para {
    color: #000;
    font-size: 12px;
    flex-wrap: wrap;
    width: 120px;
    display: inline-block;
    margin-left: 130px;
    position: absolute;
    top: 0;
}
#group {
    margin-left: 130px;
}
#content {
    padding: 50px 0 ;
    bottom: 0;
}

@media (max-width: 600px) {

    #menu, #sign-in-btn {
        display: none;
    }
    #bars {
        display: block;
        margin-right: 30px;
    }
    
    #landing-section {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        top: 0;
        width: 90%;
        padding: 60px 40px;
    }
    #left-section {
        width: 100%;
    }
    #right-section {
        width: 100%;
    }
    #right-section img {
        width: 100%;
    }
    #bottom-left {
        left: 30px;
        bottom: 0;
    }

    #main-dashboard {
        height: 160vh;
    }
    
}